# general
.idea
*.pyc
build/
data.json
tmp.py
.cache

# micro_payments
micro_payments/env
/micro_payments/docs/
/micro_payments/docker/
/micro_payments/microraiden/
/micro_payments/micro_payments/tests/.cache/
micro_payments/*.egg-info
micro_payments/__pycache__