# general
.idea
*.pyc
build/
#data.json
tmp.py
.cache
tmp.sol

# micro_payments
micro_payments/env
/micro_payments/docs/
/micro_payments/docker/
/micro_payments/microraiden/
/micro_payments/micro_payments/tests/.cache/
micro_payments/*.egg-info
micro_payments/__pycache__

#viper
viper/bitcoin/
viper/viper/
viper/share/
viper/LICENSE
viper/bin
viper/include
viper/lib
viper/Python-3.6.2
viper/pip-selfcheck.json
