# general
.idea
*.pyc

#cross_chain
cross_chain/build/
cross_chain/data.json
cross_chain/node_modules/
cross_chain/package.json
cross_chain/.cache/

# micro_payments
micro_payments/env
/micro_payments/docs/
/micro_payments/docker/
/micro_payments/microraiden/
micro_payments/contracts/data.json
/micro_payments/micro_paymetns/tmp.py
micro_payments/*.egg-info
micro_payments/__pycache__




